{% extends 'base.html.twig' %}

{% block title %}{{ 'addition.create'|trans }}{% endblock %}

{% block body %}
    <div class="container mx-auto p-12">
        <div {{ vue_component('addition/Create', {
            'categories': categories
        }) }}></div>
    </div>
{% endblock %}