{% extends 'base.html.twig' %}

{% block title %}{{ 'pizza.create'|trans }}{% endblock %}

{% block body %}
    <div class="container mx-auto p-12">
        <div {{ vue_component('pizza/Create', {
            'categories': categories,
            'priceSettings': priceSettings
        }) }}></div>
    </div>
{% endblock %}