{% extends 'base.html.twig' %}

{% block title %}{{ pizza.name }}{% endblock %}

{% block body %}
    <div class="container mx-auto p-12">
        <div {{ vue_component('pizza/Edit', {
            'pizza': pizza,
            'categories': categories
        }) }}></div>
    </div>
{% endblock %}