{% extends 'base.html.twig' %}

{% block title %}{{ 'pizza.list_title'|trans }}{% endblock %}

{% block body %}
    <div {{ vue_component('pizza/Index', {
        'initialPizzas': pizzaData,
        'initialAdditions': additionData,
        'footerSettings': footerSettings
    }) }}></div>
{% endblock %}