{% extends 'base.html.twig' %}

{% block title %}Stripe Settings{% endblock %}

{% block body %}
    <h1>Stripe Settings</h1>

    {{ form(form) }}

    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            <p>{{ messages[0] }}</p>
        </div>
    {% endfor %}

{% endblock %}