{% extends 'base.html.twig' %}

{% block title %}{{ 'order.history'|trans }}{% endblock %}

{% block body %}
    <div class="container mx-auto p-12">
        <div {{ vue_component('payment/Index') }}></div>
    </div>
{% endblock %}
